<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
       <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism.Composition"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <modules>
      <module assemblyFile="Parents.dll" moduleType="Parents.ParentsModule, Parents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ParentsModule" startupLoaded="true" />
      <module assemblyFile="SpeechTTS.dll" moduleType="SpeechTTS.TTSModule, SpeechTTS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="TTSModule" startupLoaded="true" />
      <module assemblyFile="SpeechWords.dll" moduleType="SpeechWords.WordsModule, SpeechWords, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="WordsModule" startupLoaded="true" />
      <module assemblyFile="SpeechVideos.dll" moduleType="SpeechVideos.VideosModule, SpeechVideos, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="VideosModule" startupLoaded="true" />
      <module assemblyFile="SpeechIdioms.dll" moduleType="SpeechIdioms.IdiomsModule, SpeechIdioms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="IdiomsModule" startupLoaded="true" />
      <module assemblyFile="Pronunciation.dll" moduleType="Pronunciation.IdiomsModule, Pronunciation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SoundModule" startupLoaded="true" />
      <module assemblyFile="GrammarBasics.dll" moduleType="GrammarBasics.GrammarModule, GrammarBasics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="GrammarModule" startupLoaded="true" />
      <module assemblyFile="StudentInfo.dll" moduleType="StudentInfo.StudentModule, StudentInfo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="StudentModule" startupLoaded="true" />
      <module assemblyFile="SpeechSTT.dll" moduleType="SpeechSTT.STTModule, SpeechSTT, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="STTModule" startupLoaded="true" />
      <module assemblyFile="SpeechRecording.dll" moduleType="SpeechRecording.RecordingModule, SpeechRecording, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="RecordingModule" startupLoaded="true" />
      <module assemblyFile="VoiceRecorder.Core.dll" moduleType="VoiceRecorder.Core.RecordCoreModule, VoiceRecorder.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="RecordCoreModule" startupLoaded="false" />
    </modules>
</configuration>